@import "variables";

.page-post {
  .page-container {
    width: 348px;
    min-height: 492px;
    border-top: 1px solid $primaryColor;
    padding-top: 2rem;

    img {
      width: 100%;
    }

    a {
      text-decoration: underline;
    }

    strong {
      font-weight: 500;
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }

  .post-date {
    text-align: right;
    color: rgb(94, 94, 94);
  }

  @media only screen and (min-width: 450px) {
    .page-container {
      width: 400px;
      min-height: 566px;
    }
  }

  @media only screen and (min-width: 500px) {
    .page-container {
      width: 450px;
      min-height: 637px;
    }
  }

  @media only screen and (min-width: 600px) {
    .page-container {
      width: 500px;
      min-height: 707px;
    }
  }

  @media only screen and (min-width: 650px) {
    .page-container {
      width: 550px;
      min-height: 778px;
    }
  }

  @media only screen and (min-width: 768px) {
    .page-container {
      width: 600px;
      min-height: 849px;
    }
  }

  @media only screen and (min-width: 850px) {
    .page-container {
      width: 700px;
      min-height: 990px;
    }
  }

  @media only screen and (min-width: 1368px) {
    .page-container {
      width: 824px;
      min-height: 1166px;
    }
  }
}
